button {
	width: 120px;
}

.btn-group {
	margin-right: 20px;
}

.textarea {
	padding-top: 50px;
}

.messages {
	height: 20px;
	margin-bottom: 5px;
}

.messages p{
	margin-bottom: 0px;
}


#review {
	resize: none;
}

#error-message {
	color: red;
}